body {
  margin: 0;
  padding: 0;
}
.maincont {
  font-family: "Lexend", sans-serif;
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 100%;
  justify-content: center;
}

.title {
  font-size: 65px;
  margin: 2rem;
  margin-top: 5rem;
  font-weight: bolder;
  padding-left: 2rem;
}
.middle {
  display: flex;
  align-items: center;
  justify-content: left;
  width: 100%;
  height: 100vh;
  background-color: #12151c;
}
.left {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-inline: 5rem;
}
.lechugaclick {
  height: 300px;
  width: 300px;
}
.imgcont {
  display: flex;
}
.right {
  display: flex;
  height: 700px;
  width: 100%;
  height: 100%;
  background-color: lightgrey;
  background-image: url(/src/assets/2019-Chevrolet-Corvette-ZR1-Front-Three-Quarter-Wallpaper4.jpg);
  background-size: cover;
}
.form {
  display: flex;
  flex-direction: column;
  font-size: 30px;
  color: white;
  width: 30rem;
}
.inputs{
  color: grey;
  background-color: #242A38;
  justify-content: left;
  padding: 1rem;
  margin-block: 1rem;
  border-radius: 0.5rem;
  border: 0;
}
.label{
  font-weight: bold;
  padding-bottom: 1rem;
}
.submit{
  color: rgb(255, 255, 255);
  background-color: #D90429;
  justify-content: left;
  padding: 1rem;
  margin-block: 1rem;
  border-radius: 0.5rem;
  border: 0;
  font-weight: bold;
  font-size: large;
  cursor: pointer;
}

.formbottom{
  color: white;
}
.sign{
  color: #D90429;
}