body {
  margin: 0;
  padding: 0;
  font-family: "Lexend", sans-serif;
  background-color: #f7f7f7;
}
::-webkit-scrollbar {
  width: 0.5rem; /* Remove scrollbar space */
  background: none; /* Optional: just make scrollbar invisible */
}
::-webkit-scrollbar-thumb {
  border-radius: 2rem;
  background: #d6d6d6;
}
.maincontainer {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.titlecont {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 1rem;
  color: #d90429;
  font-size: xx-large;
  font-weight: bold;
}
.imgcont {
  height: 100px;
  width: 100px;
}
.pagecontainer {
  max-width: 95%;
}
.recommendations {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 0.75rem;
  background-color: #242a38;
  margin-block: 1.5rem;
}
.titles {
  justify-content: center;
  align-items: center;
  color: #b1baba;
  font-size: x-large;
  padding: 0.5rem;
}
.recomendationscont {
  display: grid;
  grid-auto-flow: column;
  align-items: center;
  flex-direction: row;
  justify-content: center;
  gap: 1rem;
  overflow: scroll;
  overflow-y: hidden;
  width: 98%;
}
.recomendationscont::-webkit-scrollbar {
  height: 0.5rem; /* Remove scrollbar space */
  background: none; /* Optional: just make scrollbar invisible */
}
/* Optional: show position indicator in red */
.recomendationscont::-webkit-scrollbar-thumb {
  border-radius: 5rem;
  background: #ff0000;
}
.searchcont {
  width: 100%;
  height: 70vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 0.75rem;
  background-color: #242a38;
  margin-block: 1.5rem;
}
.searchbarcont {
  display: flex;
  flex-direction: row;
  gap: 1rem;
  width: 95%;
  padding: 1rem;
}
.searchbar {
  width: 90%;
  background-color: #2e3442;
  color: #b1baba;
  border: none;
  border-radius: 0.5rem;
  padding: 1rem;
}
.searchfilter {
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: bold;
  border: none;
  color: white;
  padding: 1rem;
  padding-inline: 2rem;
  border-radius: 0.5rem;
  background-color: #d90429;
  cursor: pointer;
}
.changeP {
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: bold;
  border: none;
  color: white;
  padding: 0.5rem;
  padding-inline: 1rem;
  border-radius: 0.5rem;
  background-color: #d90429;
  cursor: pointer;
}
.searchresults {
  display: flex;
  flex-direction: row;
  gap: 0.5rem;
  overflow: scroll;
  overflow-x: hidden;
  padding: 1rem;
  flex-wrap: wrap;
  align-content: space-between;
  justify-content: space-evenly;
}
.searchresults::-webkit-scrollbar {
  width: 0.3rem; /* Remove scrollbar space */
  background: none; /* Optional: just make scrollbar invisible */
}
/* Optional: show position indicator in red */
.searchresults::-webkit-scrollbar-thumb {
  border-radius: 2rem;
  background: #ff0000;
}

.helpB {
  height: 40px;
  width: 40px;
  background-image: url("https://upload.wikimedia.org/wikipedia/commons/thumb/3/3f/Logo_informations.svg/1024px-Logo_informations.svg.png");
  background-size: cover;
  border-radius: 1.5rem;
  border: none;
  position: fixed;
  bottom: 0;
  right: 0;
  margin: 5px;
  margin-bottom: 1rem;
  cursor: pointer;
  font-size: 16px;
}

.userquestioncont{
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #b1baba;
}
.justacont{
  display: flex;
  flex-direction: column;
  align-items: center;
}