.cardcont {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 1rem;
  width: 350px;
  border-radius: 1rem;
  font-family: "Lexend", sans-serif;
  background-color: #f7f7f7;
}
.conttitle {
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: space-between;
}
.title {
  margin-left: 0.8rem;
  padding-top: 0.5rem;
  font-weight: bolder;
}
.brandcont {
  background-color: #242a38;
  border-radius: 0 0 0 16px;
  padding-inline: 1rem;
  padding-block: 0.5rem;
}
.brandimg {
  display: block;
  max-height: 30px;
  max-width: 100%;
}
.carimg {
  height: 90px;
  max-width: 100%;
}
.continfo{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
    margin-block: 1rem;
}
.contprice {
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bolder;
  font-size: x-large;
  padding-block: 0.2rem;
}
